PRACTICE EXERCISE 3

In [2]:
import numpy as np
import pandas as pd

In [3]:
#Q1
#Solution 1
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
sum((p-q)**2)**.5

18.16590212458495

In [4]:
#Solution 2(using func)
np.linalg.norm(p-q)

18.16590212458495

In [5]:
#Q2
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
dd=np.diff(np.sign(np.diff(ser)))
peak_locs=np.where(dd==-2)[0]+1
peak_locs

array([1, 5, 7], dtype=int64)

In [6]:
#Q3
my_str = 'dbc deb abed gade'
ser=pd.Series(list("dbc deb abed gade"))
freq=ser.value_counts()
print(freq)
least_freq=freq.dropna().index[-1]
"".join(ser.replace(' ',least_freq))

d    4
b    3
e    3
     3
a    2
g    1
c    1
dtype: int64

'dbccdebcabedcgade'

In [7]:
#Q4
ser=pd.Series(np.random.randint(1,10,10),pd.date_range('2000-01-01',periods=10, freq="W-SAT"))
ser

2000-01-01    8
2000-01-08    5
2000-01-15    5
2000-01-22    1
2000-01-29    9
2000-02-05    9
2000-02-12    2
2000-02-19    5
2000-02-26    5
2000-03-04    5
Freq: W-SAT, dtype: int32

In [10]:
#Q5
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)
ser.resample('D').ffill() #fil with previous value

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

In [11]:
#Alternative
ser.resample('D').bfill() #fill with next value
ser.resample('D').bfill().ffill() #fill next else prev value

2000-01-01     1.0
2000-01-02    10.0
2000-01-03    10.0
2000-01-04     3.0
2000-01-05     3.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64