<a href="https://colab.research.google.com/github/jessicakaur/basic/blob/master/Practice_Exercise_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PRACTICE EXCERCISE 5

In [3]:
#Q1
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
#Print row sum
rowsums=df.apply(np.sum,axis=1)
rowsums

0      95
1     105
2     107
3      92
4      79
5     105
6     111
7      91
8      55
9     108
10     73
11    107
12    110
13    115
14    103
dtype: int64

In [4]:
#last two rows with row sum greater than 100
last_two_rows=df.iloc[np.where(rowsums>100)[0][-2:],:]
last_two_rows

     0   1   2   3
13  28  39  32  16
14  31  32  11  29

In [6]:
#Q2
ser = pd.Series(np.logspace(-2, 2, 30))
def cap_outliers(ser,low_perc,high_perc):
  low,high=ser.quantile([low_perc,high_perc])
  print(low_perc,"%ile:",low,"|",high_perc,"%ile:",high)
  ser[ser<low]=low
  ser[ser>high]=high
  return(ser)
capped_ser=cap_outliers(ser,.05,.95)

0.05 %ile: 0.016049294076965887 | 0.95 %ile: 63.876672220183934

In [9]:
#Q3
df = pd.DataFrame(np.arange(25).reshape(5, -1))
def swap_rows(df,i1,i2):
  a,b=df.iloc[i1,:].copy(),df.iloc[i2,:].copy()
  df.iloc[i1,:],df.iloc[i2,:]=b,a
  return df
print(swap_rows(df,1,2))

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24