PRACTICE EXERCISE 2

In [2]:
#Q1
import pandas as pd
import numpy as np
ser = pd.Series(np.random.randint(1, 10, 35))
df=pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  4  4  4  2  4
1  6  2  1  9  3
2  4  4  3  2  5
3  1  5  6  9  4
4  3  2  2  1  6
5  9  7  8  9  1
6  1  3  3  5  1

In [3]:
#Q2
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
np.argwhere(ser%3==0)

0    7
1    9
2    1
3    1
4    2
5    5
6    2
dtype: int32

array([[1]], dtype=int64)

In [4]:
#Q3
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [5]:
#Q4
#Vertical
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
ser1.append(ser2)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [9]:
#Horizontal
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
df=pd.concat([ser1,ser2],axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [10]:
#Q5
#Solution 1
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[np.where(i==ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [11]:
#Solution 2
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

In [12]:
#Q6
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean((truth-pred)**2)

0.2220119259352356

In [13]:
#Q7
#Solution 1
ser = pd.Series(['how', 'to', 'write', 'code?'])
ser.map(lambda x:x.title())

0      How
1       To
2    Write
3    Code?
dtype: object

In [14]:
#Solution 2
ser = pd.Series(['how', 'to', 'write', 'code?'])
ser.map(lambda x:x[0].upper()+x[1:])

0      How
1       To
2    Write
3    Code?
dtype: object

In [17]:
#Solution 3
ser = pd.Series(['how', 'to', 'write', 'code?'])
pd.Series([i.title() for i in ser])

0      How
1       To
2    Write
3    Code?
dtype: object

In [18]:
#Q8
ser = pd.Series(['how', 'to', 'write', 'code?'])
ser.map(lambda x:len(x))

0    3
1    2
2    5
3    5
dtype: int64

In [19]:
#Q9
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [20]:
#Q10
#Solution 1
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
from dateutil.parser import parse
ser.map(lambda x:parse(x))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [21]:
#Solution 2
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [28]:
#Q11
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
from dateutil.parser import parse
ser_ts=ser.map(lambda x:parse(x))

#Date of month
print("Date:",ser_ts.dt.day.tolist())

#Week number
print("Week number:",ser_ts.dt.weekofyear.tolist())

#Day of year
print("Day of year:",ser_ts.dt.dayofyear.tolist())

#Day of week
print("Day of week:",ser_ts.dt.weekday.tolist())

Date: [1, 2, 3, 4, 5, 6]
Week number: [53, 5, 9, 14, 19, 23]
Day of year: [1, 33, 63, 94, 125, 157]
Day of week: [4, 2, 5, 3, 0, 5]

In [35]:
#Q12
#Solution 1
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
from dateutil.parser import parse
#Parse the date
ser_ts=ser.map(lambda x:parse(x))
#Construct fate string with date as 4
ser_datestr=ser_ts.dt.year.astype('str')+'-'+ser_ts.dt.month.astype('str')+'-'+'04'
print(set_datestr)
#Format it
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]

0    2010-1-04
1    2011-2-04
2    2012-3-04
dtype: object

['2010-01-04', '2011-02-04', '2012-03-04']

In [38]:
#Solution 2
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
ser.map(lambda x:parse("04"+x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [39]:
#Q13
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
from collections import Counter
mask=ser.map(lambda x:sum([Counter(x.lower()).get(i,0) for i in list("aeiou")])>=2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

In [40]:
#Q14
#Solution 1 (as series of strings)
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
import re
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask=emails.map(lambda x:bool(re.match(pattern,x)))
emails[mask]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

In [41]:
#Solution 2 (as series of list)
emails.str.findall(pattern,flags=re.IGNORECASE)

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

In [42]:
#Solution 3
[x[0] for x in [re.findall(pattern,email) for email in emails] if len(x)>0]

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

In [44]:
#Q15
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']
weights.groupby(fruit).mean()

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['carrot', 'carrot', 'banana', 'banana', 'banana', 'apple', 'apple', 'carrot', 'apple', 'banana']

apple     7.333333
banana    5.500000
carrot    3.666667
dtype: float64